body {
    font-family: "方正舒体", "华文行楷"， "华文楷体"， "华文新魏"， "华文隶书"， "宋体";
    background-image: url(../mztkn/images/背景.jpg)
  }
  h1 ,h2 {
    font-family: sans-serif;
    color: gray;
  }
  h1 {
    border-bottom:1px solid gray;
  }
  a {
    margin: 10;
    padding: 10;
   }
  p {
    align-content: 2em;
    font-family: sans-serif;
    color: black;
    line-height: 50px;
  }
  p {
    max-height: 125%;
  }
  p {
    word-wrap: break-word;
    word-break: break-all;
  }
  .divcss5-a p {
    margin: 0 auto
  }
  em {
    font-family: serif;
  }
  .elixirs {
    border-width: thin;
    border-style: dotted;
    border-color: #e9ebeb;
    width: 1300px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 20px;
    text-align: center;
    line-height: normal;
  }