body {
    font-family: sans-serif;
  }
  h1 ,h2 {
    font-family: sans-serif;
    color: gray;
  }
  h1 {
    border-bottom:1px solid gray;
  }
  
  p {
    font-family: sans-serif;
    color: black;
    line-height: 20px;
  }
  .divcss5-a p {
    margin: 0 auto
  }
  em {
    font-family: serif;
  }