body {
    font-family: sans-serif;
  }
  h1 ,h2 {
    font-family: sans-serif;
    color: gray;
  }
  h1 {
    border-bottom:1px solid gray;
  }
  a {
    margin: 0;
    padding: 0;
   }
  p {
    align-content: 2em;
    font-family: sans-serif;
    color: black;
    line-height: 50px;
  }
  p {
    max-height: 100%
  }
  p {
    word-wrap: break-word;
    word-break: break-all;
  }
  .divcss5-a p {
    margin: 0 auto
  }
  em {
    font-family: serif;
  }